.measure-type-button {
    max-width: 150px;
    line-height: 44px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    color: white;
    background-image: url('../img/icon-measure-object.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 2px solid white;
    padding-left: 35px;
    box-sizing: border-box;
    
    &.active{
        background-color: rgba(0, 0, 0, 0.5);
        border: transparent;
    }
}