.navigation-tabs {
  --android-background-color: transparent; 
  background: transparent;
  box-shadow: none;

  body.platform-ios & {
    --ios-background-color: transparent; 
    order: 2;
    box-shadow: 0px -0.5px 0px 0.02px rgba(0, 0, 0, 0.3);
  }
}