.temperature-numbers {
    color: white;
}

.temperature-numbers__temparature-value {
    font-size: 60px;
    font-weight: 400;
    line-height: 85px;

    
    &::after {
      content: '°';
    }
    
    &:empty::after {
      content: '...';
      font-size: 0.3em;
      font-style: italic;
    }
}

.temperature-numbers__temparature-unit {
    font-size: 60px;
    font-weight: 400;
    line-height: 85px;
}

.temperature-numbers__humidity {
    font-size: 17px;
}

.temperature-numbers__humidity-value {
    font-weight: bold;

    &::after {
        content: '%';
    }

    &:empty::after {
        content: '...';
        font-style: italic;
    }
}