.temperature-scale {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.temperature-scale::after {
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(to bottom, rgba(255,185,49,100) 0%, rgba(255,185,49,0) 25%, rgba(255,185,49,0) 50%, rgba(255,185,49,0) 75%, rgba(255,185,49,100) 92%);
    z-index: 2;
}

.temperature-scale::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 38px;
    background-image: url('../img/line.svg');
    transform: translateY(-50%);
    width: 34px;
    height: 2px;
    z-index: 2;
}

.temperature-scale__scale {
    position: absolute;
    top: 50%; left: 0;
    background-position: 0 50%;
    background-repeat: no-repeat;
    z-index: 1;
    transition: transform 0.5s;
}


.temperature-scale__scale--celsius {
    background-image: url('../img/celsius_scale_2x.png');
    background-size: 72px 721px;
    top: calc(-721px / 2 + 50% - 1px);
    width: 72px;
    height: 721px;
}

.temperature-scale__scale--fahrenheit {
    background-image: url('../img/fahrenheit_scale_2x.png');
    background-size: 71px 746px;
    top: calc(-746px / 2 + 50% - 301px);
    width: 71px;
    height: 746px;
}