.tile-pages {
  flex-grow: 1;
}

.page {
  position: static;
}

.tile-pages__page--main {
  --host-slotted-page-display: flex;
  flex-direction: column;
}

.tile-pages__page:not(.iron-selected) {
  opacity: 0;
}