<!DOCTYPE html>
<html lang="en" style="background-color: #FFB931">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div id="wrapper" class="wrapper" style="opacity: 0;">
      
      <div id="main-screen" class="main-screen mdl-layout mdl-js-layout">
          <div class="result-screen" id="result-screen">
            <div class="result-screen__content">
                <div class="result-screen__left-side">
                  <div class="temperature-scale">
                    <div class="temperature-scale__scale" :class="scaleUnitClass" :style="scaleValue"></div>
                  </div>
                </div>
                <div class="result-screen__right-side">
                  <div class="temperature-numbers">
                      <div class="temperature-numbers__temparature-value" id="temperature-value">{{ temperatureOutput }}</div>
                      <div class="temperature-numbers__humidity">
                        <span class="temperature-numbers__humidity-title">Humidity</span>
                        <span class="temperature-numbers__humidity-value" id="humidity-value">{{ sensorValues.humidity }}</span>
                      </div>
                    </div>
                    
                    <button class="measure-type-button" :class="{ active: isMeasuringObject }" @click="changeMeasureType">Measure object</button>
                </div>
            </div>
            
            
            <button class="action-button action-button--primary" id="button-snapshot">Create Snapshot</button>
          </div>

          <div class="settings-screen hidden" id="settings-screen">
            <div class="unit_container" id="unit_container">
              <span>Units</span>

              <input type="radio" class="celsius" name="measureUnit" value="celsius" v-model="settings.units" id="celsiusSetting">
              <label class="unit-celsius" for="celsiusSetting">Celsius</label>

              <input type="radio" class="fahrenheit" name="measureUnit" value="fahrenheit" v-model="settings.units" id="fahrenheitSetting" >
              <label class="unit-fahrenheit" for="fahrenheitSetting">Fahrenheit</label>
            </div>
          </div>

          <div class="snapshot-screen hidden" id="snapshot-screen">
            <div class="snapshot-item" id="snapshot-item">
              <input type="text" id="spanshot-title" class="snapshot-item__title" placeholder="Add Label" onfocus="this.placeholder=''" onblur="this.placeholder='Add Label'">
              <table class="snapshot-item__values">
                <tr class="snapshot-item__line">
                  <td class="snapshot-item__field-title" id="snapshot-temperature-title">
                    <span v-if="snapshotValues.measureType == 'ambient'">Ambient Temperature</span>
                    <span v-if="snapshotValues.measureType == 'object'">Object Temperature</span>
                  </td>
                  <td class="snapshot-item__field-value snapshot-item__field-value--temperature">{{ snapshotTemperatureOutput }}</td>
                </tr>
                <tr class="snapshot-item__line">
                  <td class="snapshot-item__field-title">Humidity</td>
                  <td class="snapshot-item__field-value snapshot-item__field-value--humidity">{{ snapshotValues.humidity }}</td>
                </tr>
              </table>
              <div class="snapshot-item__daytime" id="snapshotDayAndTime">{{ snapshotTimeOutput }}</div>
              <!-- <div class="snapshot-item__location" id="snapshotDayAndTime">One Kowloon, 1 Wang Yuen Street, Kowloon Bay, Hong Kong</div> -->
            </div>
            <div class="button-container" id="snapshot-buttons-container">
              <button class="action-button" id="snapshot-button-cancel">Cancel</button>
              <!-- <button class="button-history hidden" id="button-history">Save To History</button> -->
            </div>
          </div>
          <!-- <div id="snackbar">Saved</div> -->
      </div>
  </body>
</html>
