<!DOCTYPE html>
<html lang="en" style="background-color: #FFB931">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div id="wrapper" class="wrapper" style="opacity: 0;">
      <template>
        <morph-tabbar class="navigation-tabs" :selected="currentPage" @selected-changed="currentPage = $event.target.selected" :class="{ hidden: currentPage == 'instruction' || currentPage == 'snapshot'}">
          <morph-tabbar-item name="result" :not-selected-image="tabbarResultNotSelectedIcon" :selected-image="tabbarResultSelectedIcon"></morph-tabbar-item>
          <morph-tabbar-item name="history" :not-selected-image="tabbarHistoryNotSelectedIcon" :selected-image="tabbarHistorySelectedIcon"></morph-tabbar-item>
          <morph-tabbar-item name="settings" :not-selected-image="tabbarSettingsNotSelectedIcon" :selected-image="tabbarSettingsSelectedIcon"></morph-tabbar-item>
        </morph-tabbar>
      </template>

      <morph-location :hash="currentPage" @hash-changed="currentPage = $event.target.hash" :last-navigation-direction="navigationDirection" @last-navigation-direction-changed="navigationDirection = $event.target.lastNavigationDirection"></morph-location>
      <morph-pages class="tile-pages" :selected="currentPage" @selected-changed="currentPage = $event.target.selected" :page-change-animation-direction="navigationDirection" attr-for-selected="name" fallback-selection="instruction">
        <div name="instruction" class="tile-pages__page instruction-screen">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slide-image-container">
                  <svg class="slide-image" width="273px" height="35px" viewBox="0 0 273 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g transform="translate(-44.000000, -285.000000)">
                        <g transform="translate(44.000000, 285.000000)">
                          <rect fill="#FFFFFF" x="0" y="33" width="273" height="2"></rect>
                          <g transform="translate(61.000000, 0.000000)" stroke-width="2" stroke="#FFFFFF">
                            <path d="M1.54853288,32 L149,32 L149,4.01452282 L27.6552899,5.76417672 C19.7657742,5.87793464 10.6358214,11.8677722 7.38801146,19.0630593 L1.54853288,32 Z"></path>
                            <rect id="Rectangle-5" x="67" y="1" width="77" height="3"></rect>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
                <p class="slide-note">
                  When measuring ambient temperature, place the device away from extraneous influences and allow it to stabilise.
                </p>
              </div>
              <div class="swiper-slide">
                <div class="slide-image-container">  
                  <svg class="slide-image" width="273px" height="142px" viewBox="0 0 273 142" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g transform="translate(-39.000000, -178.000000)">
                        <g transform="translate(39.000000, 156.000000)">
                          <rect fill="#FFFFFF" x="0" y="162" width="273" height="2"></rect>
                          <g transform="translate(62.000000, 129.000000)" stroke-width="2" stroke="#FFFFFF">
                            <path d="M1.54853288,32 L149,32 L149,4.01452282 L27.6552899,5.76417672 C19.7657742,5.87793464 10.6358214,11.8677722 7.38801146,19.0630593 L1.54853288,32 Z"></path>
                            <rect  x="67" y="1" width="77" height="3"></rect>
                          </g>
                          <path d="M267.51281,91.0859492 L261.976405,23.6238216 L233.046351,40.0144165 C231.890028,40.6695424 230.779075,41.3881032 229.717026,42.1666615 L229.531626,42.2741062 C229.295526,42.3789427 229.060348,42.4865775 228.826125,42.5970043 L125.835307,91.1529191 C122.738392,92.6129867 120.216426,95.0635654 118.668058,98.1172909 C114.822188,105.702201 117.853279,114.96868 125.43819,118.81455 C144.254666,128.355298 166.197174,129.618036 185.983901,122.298808 L258.226944,95.5756764 C259.458387,95.1201583 260.655341,94.5763398 261.808474,93.9484608 C262.504079,93.569705 263.179853,93.1633498 263.834773,92.730404 L263.981232,92.650289 L267.51281,91.0859492 Z M322,66.9504292 L343.14934,57.5821665 C346.078959,56.2844692 348.740651,54.4514025 350.997709,52.1771158 C361.015525,42.0828274 360.953533,25.7787448 350.859244,15.7609282 C342.971697,7.93313517 332.846903,2.99434021 322,1.51875631 L322,66.9504292 Z" stroke="#FFFFFF" stroke-width="2"></path>
                          <path d="M121.053778,95.5722817 C127.230617,98.379936 135.232432,100.204911 145.059222,101.047208 C149.246051,101.406079 173.638613,87.4801194 177.908776,84.6224301 C182.502831,81.5479855 185.02972,74.6692326 185.489443,63.9861713" stroke="#FFFFFF" stroke-width="2"></path>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
                <p class="slide-note">
                  When measuring the temperature of an object, don't disconnect the module. Simply place the temperature sensor up against the intended object.
                </p>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="button-container">
            <a class="action-button action-button--primary" href="#result">Okay</a>
            <a class="action-button action-button--link" href="#result" @click="disableInstruction">Don't Show Again</a>
          </div>
        </div> <!-- / page instruction -->

        <div name="result" class="tile-pages__page result-screen">
          <div class="result-screen__content">
            <div class="result-screen__left-side">
              <div class="temperature-scale">
                <div class="temperature-scale__scale" :class="scaleUnitClass" :style="scaleValue"></div>
              </div>
            </div>
            <div class="result-screen__right-side">
              <div class="temperature-numbers">
                <!-- <div class="temperature-numbers__temparature-value" id="temperature-value">{{ temperatureOutput }} {{ temperatureUnitSelected }}</div> -->
                <span class="temperature-numbers__temparature-value" id="temperature-value">{{ temperatureOutput }}</span>
                <span class="temperature-numbers__temparature-unit" id="temperature-unit">{{ temperatureUnitSelected }}</span>
                <div class="temperature-numbers__humidity">
                  <span class="temperature-numbers__humidity-title">Humidity</span>
                  <span class="temperature-numbers__humidity-value" id="humidity-value">{{ humidityOutput }}</span>
                </div>
              </div>
            </div>
          </div>
          
          <a href="#snapshot" class="action-button action-button--primary" id="button-snapshot">Save</a>
        </div> <!-- / page result -->

        <div name="settings" class="tile-pages__page settings-screen">
          <div class="settings-container">
            <span class="settings-container__title">General</span>

            <!-- <input type="checkbox" class="celsius" name="instructionSetting" v-model="settings.showInstruction" id="instructionSetting"> -->
            <label class="settings-container__label" for="instructionSetting">
              Show instruction
              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="instructionSetting">
                <input type="checkbox" id="instructionSetting" class="mdl-switch__input" v-model="settings.showInstruction">
                <span class="mdl-switch__label"></span>
              </label>
            </label>
          </div>
          
          <div class="settings-container">
            <span class="settings-container__title">Measure</span>

            <input type="radio" name="measureType" value="ambient" v-model="settings.measureType" id="ambientSetting">
            <label class="settings-container__label" for="ambientSetting">Ambient temperature</label>

            <input type="radio" name="measureType" value="object" v-model="settings.measureType" id="objectSetting" >
            <label class="settings-container__label" for="objectSetting">Object temperature</label>
          </div>

          <div class="settings-container">
            <span class="settings-container__title">Units</span>

            <input type="radio" class="celsius" name="measureUnit" value="celsius" v-model="settings.units" id="celsiusSetting">
            <label class="settings-container__label unit-celsius" for="celsiusSetting">Celsius</label>

            <input type="radio" class="fahrenheit" name="measureUnit" value="fahrenheit" v-model="settings.units" id="fahrenheitSetting" >
            <label class="settings-container__label unit-fahrenheit" for="fahrenheitSetting">Fahrenheit</label>
          </div>

        </div> <!-- / page settings -->

        <div name="snapshot" class="tile-pages__page snapshot-screen">
          <div class="snapshot-item" id="snapshot-item">
            <input type="text" v-model="snapshotValues.textInput" id="snapshot-title" class="snapshot-item__title" placeholder="Add label" onfocus="this.placeholder=''" onblur="this.placeholder='Add Label'">
            
            <div class="snapshot-item__daytime" id="snapshotDayAndTime">{{ snapshotTimeOutput }}</div>
            
            <table class="snapshot-item__values">
              <tr class="snapshot-item__line">
                <td class="snapshot-item__field-title" id="snapshot-temperature-title">
                  <span v-if="snapshotValues.measureType == 'ambient'">Temperature</span>
                  <span v-if="snapshotValues.measureType == 'object'">Temperature</span>
                </td>
                <td class="snapshot-item__field-value snapshot-item__field-value--temperature">{{ snapshotTemperatureOutput }}</td>
              </tr>
              <tr class="snapshot-item__line">
                <td class="snapshot-item__field-title">Humidity</td>
                <td class="snapshot-item__field-value snapshot-item__field-value--humidity">{{ snapshotHumidityOutput }}</td>
              </tr>
            </table>
            <!-- <div class="snapshot-item__location" id="snapshotDayAndTime">One Kowloon, 1 Wang Yuen Street, Kowloon Bay, Hong Kong</div> -->
          </div>
          <div class="button-container" id="snapshot-buttons-container">
            <button class="action-button" id="snapshot-button-cancel">Cancel</button>
            <a href="#history" class="action-button action-button--primary" id="history-snapshot" @click="saveTemperatureHistory()">Save</a>
          </div>
        </div> <!-- / page snapshot -->

        <div name="history" class="tile-pages__page history-screen">
          <div class="" id="snapshot-item">
            <morph-list-view class="temperature-list" v-for="(temperatureListDataValue, index) in temperatureListDataValues" v-bind:key="temperatureListDataValue.date">
              <morph-list-view-title>{{temperatureListDataValue.date | dateFormat}}</morph-list-view-title>

              <morph-list-view-item class="temperature-list-item" v-for="item in temperatureListDataValue.items" v-bind:key="item.id">
                <span class="temperature-list-item__icon-container" slot="icon">
                  <img :src="icons.temperatureListIconSrc" />
                  <!-- <br>
                  <svg width="14px" height="20px" viewBox="0 0 14 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g transform="translate(-28.000000, -105.000000)" fill="#929292">
                        <g transform="translate(23.000000, 103.000000)">
                          <path d="M5,9 C5,14.25 11.3540039,21.2501831 11.3540039,21.2501831 C11.7107777,21.6642955 12.3007812,21.6567383 12.658543,21.2351991 C12.658543,21.2351991 19,14.25 19,9 C19,5.13 15.87,2 12,2 C8.13,2 5,5.13 5,9 Z M12,11.5 C10.62,11.5 9.5,10.38 9.5,9 C9.5,7.62 10.62,6.5 12,6.5 C13.38,6.5 14.5,7.62 14.5,9 C14.5,10.38 13.38,11.5 12,11.5 L12,11.5 Z"></path>
                        </g>
                      </g>
                    </g>
                  </svg> -->
                </span>
                <span slot="header" class="temperature-list-item__title">{{ item.label | capitalize }}</span>
                
                <span class="temperature-list-item__content">
                  Temperature:
                  <span class="temperature-list-item__value temperature-list-item__value--temperature">{{ item.temperatureValue }}</span>
                  
                  <br>

                  Humidity:
                  <span class="temperature-list-item__value temperature-list-item__value--humidity">{{ item.humidityValue }}</span>
                </span>

                <!-- <span slot="footer" class="temperature-list-item__address">
                  One Kowloon, 1 Wang Yuen Street, Kowloon Bay, Hong Kong
                </span> -->

                <span slot="secondary-content" class="temperature-list-item__time">
                  
                  {{ item.time }}
                  <br>
                  <!-- <button class="nxp-btn-back destroy" style="border-radius: 5px; background: red; color: white; padding: 3px; opacity: 0.3;" v-on:click="removeTemperatureHistoryItem(item.id)">Delete</button> -->
                </span>

              </morph-list-view-item>

            </morph-list-view>

          </div>
        </div> <!-- / page history -->
      </morph-pages>


    </div> <!-- / wrapper -->

    <!--
      Feature detect Custom Elements support. If the browser DOES support Custom
      Elements then we need to load the custom-elements-es5-adapter because
      our project code has been transpiled from ES2015 to ES5 and native Custom
      Elements expect elements will be registered as classes.
    -->
    <!-- <div id="ce-es5-shim">
      <script type="text/javascript">
        if (!window.customElements) {
          var ceShimContainer = document.querySelector('#ce-es5-shim');
          ceShimContainer.parentElement.removeChild(ceShimContainer);
        }
      </script>
      <script type="text/javascript" src="bower_components/webcomponentsjs/custom-elements-es5-adapter.js"></script>
    </div> -->
    
    <!--
      Use the webcomponents-loader script which will feature detect which Web
      Components features are missing and lazy load the appropriate polyfills.
      When we hear the 'WebComponentsReady' event from the polyfill bundle we can
      insert our 'bundle.js'.
    -->
    <script>
      (function() {
        document.addEventListener('WebComponentsReady', function componentsReady() {
          document.removeEventListener('WebComponentsReady', componentsReady, false);
          var script = document.createElement('script');
          script.src = '<%= htmlWebpackPlugin.files.js[0] %>';
          var refScript = document.getElementsByTagName('script')[0];
          refScript.parentNode.insertBefore(script, refScript);
        }, false);
      })();
    </script>
    <script src="bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <!--
      IMPORTANT: Make sure you set the inject: false option in HTMLWebpackPlugin
      so it doesn't try to insert bundle.js. We're handling loading it ourselves
      up above.
    -->

  </body>
</html>
