.history-screen {
  overflow-y: scroll;
}

// where to put this rules???
morph-list-view {
  margin-bottom: 0;
}
morph-list-view-title {
	background-color: #eff0f4;
	margin: 0;
	padding: 10px;
}

morph-list-view-item {
	--container-align-items: start;
	--display-inner-item-bottom-line: none;
}

morph-list-view-item .icon-container {
	padding-top: 10px;
}