.result-screen {
  @include position(absolute, 0 null null 0);
  width: 100%; height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 10px;
}

.result-screen__content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.result-screen__left-side {
  padding-left: 20px;
}

.result-screen__right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

.temperature-numbers {
  margin-bottom: 20px;
}
