.result-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 10px;
}

.result-screen__content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.result-screen__left-side {
  padding-top: 60px;
  padding-left: 20px;
}

.result-screen__right-side {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  min-width: 210px;
}

.temperature-numbers {
  margin-bottom: 20px;
}
