.settings-screen {
  display: block;
  font-size: 14px;
  background-color: #eff0f4;

  input[type=radio] {
    display: none;
  }

  .settings-container {
    margin-bottom: 15px;
  }

  .settings-container__title,
  .settings-container__label {
    padding: 0 24px;
  }

  .settings-container__title {  
    display: block;
    color: #333333;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
  }
  .settings-container__title:first-child {
    margin-top: 15px;
  }

  .settings-container__label {
    position: relative;
    display: block;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 44px;
    height: 44px;
    color: black;
    background-color: white;
    border-bottom: 1px solid #D8D8D8;  
  }

  .settings-container__label::after {
    display: none;
    position: absolute;
    top: 50%; right: 15px;
    transform: translateY(-50%);
    content: url('../img/checkmark.svg');
    color: black;
  }

  input[type=radio]:checked + .settings-container__label::after {
    display: inline-block;
  }

  .mdl-switch {
    position: absolute;
    width: 50px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .mdl-switch.is-checked .mdl-switch__thumb {
    background: #ffb931;
  }

  .mdl-switch.is-checked .mdl-switch__track {
    background: rgba(255, 185, 49, 0.5);
  }

  // custom mdl-radio buttons styles
  .mdl-radio.is-checked .mdl-radio__inner-circle {
    background: #ffb931;
  }
  .mdl-radio.is-checked .mdl-radio__outer-circle {
    border: 2px solid #ffb931;
  }
}