.settings-screen {
  display: block;
  font-size: 14px;
  background-color: #F9F9F9;

  input[type=radio] {
    display: none;
  }

  .settings-container {
    margin-bottom: 15px;
  }

  .settings-container__title,
  .settings-container__label {
    padding: 0 24px;
  }

  .settings-container__title {  
    display: block;
    color: #333333;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
  }
  .settings-container__title:first-child {
    margin-top: 15px;
  }

  .settings-container__label {
    position: relative;
    display: block;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 44px;
    height: 44px;
    color: black;
    background-color: white;
    border-bottom: 1px solid #D8D8D8;  
  }

  .settings-container__label::after {
    display: none;
    position: absolute;
    top: 50%; right: 15px;
    transform: translateY(-50%);
    content: url('../img/checkmark.svg');
    color: black;
  }

  input[type=radio]:checked + .settings-container__label::after {
    display: inline-block;
  }

  // custom mdl-radio buttons styles
  .mdl-switch {
    position: absolute;
    width: 50px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    body.platform-ios & {
      width: 52px;
      height: 32px;
      margin: 0 16px 0 0;
    }
  }

  .mdl-switch .mdl-switch__thumb {

    body.platform-ios & {
      background: white;
      left: 2px;
      width: 28px;
      height: 28px;
    }
  }


  .mdl-switch.is-checked .mdl-switch__thumb {
    background: #ffb931;

    body.platform-ios & {
      transform: translate(20px, 0);
    }
  }

  .mdl-switch .mdl-switch__track {

    body.platform-ios & {
      box-sizing: border-box;
      border-radius: 16px;
      background-color: white;
      border: 2px solid #bfbfbf;
      top: 0px;
      height: 32px;
      width: 52px;
    }
  }


  .mdl-switch.is-checked .mdl-switch__track {
    background: rgba(255, 185, 49, 0.5);

    body.platform-ios & {
      box-sizing: border-box;
      border-radius: 16px;
      background-color: #4cd964;
      border: none;
    }
  }

  .mdl-radio__inner-circle,
  .mdl-radio__ripple-container .mdl-ripple,
  .mdl-radio.is-checked .mdl-radio__inner-circle {
    background: #ffb931;
  }
  .mdl-radio.is-checked .mdl-radio__outer-circle {
    border: 2px solid #ffb931;
  }

  .mdl-switch__ripple-container.mdl-js-ripple-effect {

    body.platform-ios & {
      display: none;
    }
  }

  .mdl-switch__input{
    // remove ripple effect on ios platform
    body.platform-ios & {
      visibility: hidden !important;
    }
  }

}
