.snapshot-screen {
  --host-slotted-page-diplay: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  body.platform-ios & {
    padding: 10px;
  }

  body.platform-android & .button-container {
    padding: 10px;
  }
}